<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Grupos
							</h1>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->

<% @groups.each do |group| %>
            <!-- Start Sample Area -->
            <section class="sample-text-area">
              <div class="container">
                <h3 class="text-heading"><%= group.title %></h3>
                <p class="sample-text">
                  <%= group.body %>
									<% if signed_in? %>
									 <%= link_to 'Editar', edit_group_path(group) %>
								 <% end %>

                </p>
              

            <div class="section-top-border">
                  <div class="row gallery-item">
                      <% group.attachments.each do |attachment| %>
                      <div class="col-md-4">
                        <%= link_to(image_tag(attachment.url, class: 'img-pop-up single-gallery-image', alt: 'Image'), attachment.url, target: '_blank') %>
                      </div>
                      <% end %>
											<div class="col-md-4">
	                      <a href="" class="img-pop-up"><div class="single-gallery-image">
													<iframe  src="<%= group.youtube %>" frameborder="0"  allowfullscreen autoplay></iframe>

												</div></a>
	                    </div>

                  </div>
                </div>
						</div>
						</section>
<% end %>

<% if signed_in? %>
<h1>Todos los Grupos</h1>

<%= link_to 'Añadir grupo', new_group_path %>

<%= render @groups %>
<% end %>
