<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Tienes un nuevo correo de <%= @contact.name %>!</p>
    <p>
    Detalles del Mensaje:<br>
    --------------------------
    </p>
    <p>Nombre: <%= @contact.name %></p>
    <p>Email: <%= @contact.email %></p>
    <p>Asunto: <%= @contact.  %></p>
    <p>
    Mensaje:<br>
    ----------
    </p>
    <p><%= @contact.message %></p>
  </body>
</html>